{% extends 'base.html' %}
{% block content %}
<div>
  <img src="/static/images/inuyama-sakura.jpg">
</div>
<div class="flex-container">
  <h3>Thank you for checking this website!❤️</h3>
  <p id="about-text">This app is born out of my love for road cycling and the 
      joy of discovering cyclist-friendly cafes.<br>
      I'm committed to maintaining and enhancing this app, making sure that it 
      remains accessible to fellow cyclists eager to share their favorite cafes!<br>
      I built it as part of my programming journey, to further improve my web 
      development skills with python🐍</p>
    {% if logged_in %}
    <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show me the cafes</a>
    {% endif %}
    <a class="btn btn-warning btn-m" href="{{ url_for('home') }}">
      🔙 Return to home page</a>
</div>
{% endblock %}

