{% extends 'base.html' %}
{% block content %}
<div>
  <img src="/static/images/inuyama-sakura.jpg">
</div>
  <h3>Thanks for stopping by this site! ❤️</h3>
  <p id="about-text">It's all about sharing my favorite cafes with you and 
    making sure you have a great experience.<br>I'm always updating and improving 
    it to make sure it's the best it can be for all you cafe-goers out there!<br>
    This project is also helping me learn more about web development, so I'm excited 
    to keep working on it and sharing it with others who love cafes as much as I do! 🚀</p>
    {% if logged_in %}
    <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show me the cafes</a>
    {% endif %}
    <a class="btn btn-warning btn-m" href="{{ url_for('home') }}">
      🔙 Return to home page</a>

{% endblock %}

