{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div>
  <img src="/static/images/welcome.jpg">
</div>
  <div class="flex-container">
      <h2>Log in</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {{ render_form(form, novalidate=true) }}
    </div>
<a class="btn btn-warning btn-m" href="{{ url_for('home') }}">
    🔙 Return to home page</a>
{% endblock %}